body {
  background: #141414;
  color: #ffffff;
}

.App {
  text-align: center;
  min-height: 100vh;
  padding: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ff3c00;
  color: white;
  cursor: pointer;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-card {
  background: #222;
  margin: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}
